
<table mat-table [dataSource]="items" class="mat-elevation-z8">

<!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> qty </th>
    <td mat-cell *matCellDef="let item"> {{item.count}} </td>
    <td mat-footer-cell *matFooterCellDef> Total: </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> food </th>
    <td mat-cell *matCellDef="let item"> {{item.food.name}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="subtotal">
    <th mat-header-cell *matHeaderCellDef> subtotal </th>
    <td mat-cell *matCellDef="let item"> {{item.subtotal > 0 ? (item.subtotal | currency) : ""}} </td>
    <td mat-footer-cell *matFooterCellDef>
      <button mat-button color="primary" [disabled]="order.items.size === 0">
        <mat-icon routerLink="/order" (click)="saveOrder()">check</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
      (click)="openDialog(row)"></tr>
  <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
</table>
