<div>
  <form [formGroup]="foodForm">
    <h1>Food Form</h1>
    <p>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input #foodName matInput formControlName="name">
    </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput
            formControlName="price"
            type="number"
            class="example-right-align">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="description"
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </p>
    <button mat-button (click)="saveFood()">submit</button>
  </form>
</div>
