<mat-divider></mat-divider>

<mat-accordion>
  <mat-expansion-panel *ngFor="let order of orders">
    <mat-expansion-panel-header>
      <mat-panel-title>
        #{{order.number}}
      </mat-panel-title>
      <mat-panel-description>
        Total: {{order.total | currency : '' : digitsInfo : '1.2-2'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

      <table mat-table [dataSource]="order.items" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> qty </th>
          <td mat-cell *matCellDef="let item"> {{item._count}} </td>
        </ng-container>

        <ng-container matColumnDef="food">
          <th mat-header-cell *matHeaderCellDef> food </th>
          <td mat-cell *matCellDef="let item"> {{item.food.name}} </td>
        </ng-container>

        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef> subtotal </th>
          <td mat-cell *matCellDef="let item"> {{item._subtotal | currency :'' : digitsInfo : '1.2-2' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>


      <mat-action-row>
        <span>{{order.date | date : 'EE M, hh:mm a' }}</span>
        <div  >
        <!--button mat-button color="primary" (click)="nextStep()">
          <mat-icon>add</mat-icon>
        </button!-->
        <button mat-button *ngIf="!order.paid && !order.served" (click)="onDelete(order)">
          <mat-icon color="accent">delete</mat-icon>
        </button>
        <button mat-button color="primary" *ngIf="!order.paid" (click)="onCheckout(order)">checkout</button>
        <button mat-button color="primary" *ngIf="!order.served" (click)="onServed(order)">served</button>
      </div>
      </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
