<mat-toolbar class="app-toolbar"  color="primary">
  <mat-toolbar-row>

    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button mat-flat-button color="primary" routerLink="/">
        {{ title }}!
    </button>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>


    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/food/add">
        <span><mat-icon>add</mat-icon> food</span>
      </button>
      <button mat-menu-item routerLink="/order/new">
        <span><mat-icon>add</mat-icon> order</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item routerLink="/food">
        <span>foods</span>
      </button>
      <button mat-menu-item routerLink="/order">
        <span>orders</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
