<mat-toolbar>
  <mat-toolbar-row>

    <mat-icon (click)="goBack()">arrow_back</mat-icon>

    <button mat-menu-item routerLink="/">
      <span class="fill-remaining-space">
        {{ title }}!
      </span>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>


    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/food/add">
        <span>add food</span>
      </button>
      <button mat-menu-item routerLink="/food">
        <span>foods</span>
      </button>
      <button mat-menu-item routerLink="/order">
        <span>orders</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
