<div>
<div mat-dialog-title>
    <span>{{data.food.name}} {{data.food.price | currency}}</span>
</div>

<div mat-dialog-content>
  <mat-form-field>
    <input [ngModel]="data.subtotal | currency:'USD':'symbol':'1.2'"
          matInput disabled
          placeholder="subtotal">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="data.count"
    matInput cdkFfoodocusInitial
    (keyup)="updateItem()"
    (keydown)="submitItem($event)"
    placeholder="cantidad"
    type="number">
    <button mat-button *ngIf="data.count != 0"
    matSuffix mat-icon-button (click)="data.count = 0">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="data.count = 0" [mat-dialog-close]="null">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-button color="primary" [disabled]="data.count === 0" (click)="closeDialog()">
    <mat-icon>check_circle</mat-icon>
  </button>
</div>
